@layout('layouts/app')

@section('content')
  <h1>Update your name</h1>
  <form action="" method="post">
    <label for="username">
      <input type="text" name="username">
    </label>
    <input type="submit">
  </form>
@endsection
