<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>DroneHub</title>
</head>
<body class="bg-gray-100 flex flex-col items-center">
  <nav class="w-1/2 bg-white shadow-md flex justify-between px-4 py-4 m-auto gap-4 z-10 relative mb-6">
    <div class="w-1/2 flex">
      <div class="flex">
      <h1 class="text-xl font-semibold">
        <a href="/">DroneHub</a>
      </h1>
      <div class="flex items-center justify-items-center ml-5">
        @if(auth.isAuthenticated)
        <img src="https://cdn-icons-png.flaticon.com/512/3391/3391229.png" alt="" style="height:24px; width:24px; margin-left:1rem">
        <a href="/feed" style="margin-left:0.5rem">Feed</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="" style="height:24px; width:24px; margin-left:1rem" >
        <a href="/discover" style="margin-left:0.5rem">Discover</a>
        <img src="https://cdn.icon-icons.com/icons2/154/PNG/512/users_21945.png" alt="" style="height:24px; width:24px; margin-left:1rem" >
        <a href="/followings" style="margin-left:0.5rem">Friends</a>
        <img src="https://cdn-icons-png.flaticon.com/512/2505/2505264.png" alt="" style="height:20px; width:20px; margin-left:1rem">
        <a href="/jobs" style="margin-left:0.5rem">Jobs</a>
        @endif
      </div>
    </div>
      </div>
      @if(!auth.isAuthenticated)
      <a href="/login">Login</a>
      @endif
      @if(auth.isAuthenticated)
      <div class="flex gap-2">
        <form action="/logout" method="post">
          <button type="submit">Sign out</button>
        </form>
        <div style="height: 100%; width:1px; border-radius:5px; background-color:black;"></div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="" style="height:24px; width:24px;" >
        <a href="/{{ auth.user.username}}">{{auth.user.username}}</a>
        @endif
      </div>
    </div>
  </nav>
  <div class="bg-gray-100 min-h-screen flex flex-col items-center">
    <div class="w-full" style="width:80vw;margin:0 auto;">
    @section('content')
    @endsection
    </div>
  </div>
  <div class="bg-white w-full" style="padding:2rem 4rem">
    <div class="text-right" style="padding:1rem 25vw">
      <h1>DroneHub @ Orqa</h1>
      <p>Sva prava pridržana 2023</p>
      <p>CEO Domagoj Vukosavljević</p>
    </div>
    <div style="width:60%; height:1px; background-color:gray; margin:auto;"></div>
    <div class="flex gap-4" style="padding:1rem 25vw">
      <a href="/}">About us</a>
      <a href="/followings">Regulations</a>
      <a href="/jobs">Contact</a>
      <a href="/">How to become pilot?</a>
  </div>
  </div>
</body>
</html>
